/* reset */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* root variables*/
:root{
    --color-primary: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333333;
    --color-white: #fff;
}

html{
    font-size: 62.5%;
    margin-right: 2rem;
}
body{
    color: var(--color-body);
    /* 14px font size >>> 1.4rem if font-size is 62.5% */
    font-size: 1.4rem;   
    line-height: 2rem;
    
}

h1,h2,h3{
    color: var(--color-heading);
    margin-top: 2rem;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}
p{
    line-height: 2.8rem;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 3.6rem;
    
    }
    h2{
        font-size: 3.5rem;
    }
    p{
        line-height: 2.5rem;
    }

}

.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
    
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn--secondary{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}
.btn--block{
    width: 100%;
    font-size: 1.6rem;     
}
@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.6rem;
    }
    .btn--block{
        font-size: 2rem;
    }
}

.badge{
    display: inline-block;
    padding: 0.5rem 1.3rem;
    background-color: #fff;
    border-radius: 32px;
    border: 2px solid var(--color-primary);
    color: var(--color-secondary-dark);
    text-transform: uppercase;
    font-size: 1.2rem;
}
.badge--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}


@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.4rem;
    }
}

.list{
    font-size: 1.8rem;
    list-style: none;

}
.list--inline .list__items {
    display: inline-block;
    margin-left: 2rem;
  }

.list--tick .list__items{
    background: url(/assets/images/Tick-Square.svg) no-repeat ;
    height: 20px;
    background-position: right center;
    padding-right: 2.5rem;
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .list--tick .list__items{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

.block-plan{
    display: grid;
    gap: 7rem 6rem;
    margin-top: 5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,350px));

 
}
.plan{
    /* max-width: 450px; */
    font-size: 1.8rem;
    transition: all 0.2s ease-out;
}
.card{
    border-radius: 20px;
    /* background-color:#FFF6F2; */
    overflow: hidden;
    box-shadow: 0 0 20px 10px #d8d7d7;
    margin-top: 3rem;
}
.card__header, 
.card__body{
    padding: 3rem 2.5rem;
}
.card__header{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}
.card--primary .card__header{
    background-color: var(--color-primary-light)
}

.plan__introduction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--color-white);
}
.plan__price {
    font-size: 3rem;
}
.plan__billing-cycle {
    font-size: 1.4rem;
}
.plan__description {
    margin-top: 1.5rem;
    display: block;
}
.plan .btn--block{
    font-size: 1.6rem;
    margin-top: 10rem;
}
.plan:hover{
    transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
    .block-plan{
    grid-template-columns: repeat(3, 1fr);
    }
    .plan .btn--block{
        font-size: 1.8rem;
    }
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.feature {
    display: grid;
    justify-content: center;
    padding: 2rem;
    gap: 0rem 10rem;
  }
  .feature__text {
    margin-bottom: 2rem;
    text-align: justify;
  }
  .feature .btn {
    padding: 1.2rem 3rem;
  }
  
  .feature__image > img {
    width: 100%;
    height: auto;
  }
  .feature__image {
    width: 90%;
    justify-self: flex-end;
    margin-bottom: 2rem;
  }

@media screen and (min-width: 1024px) {
    .feature__title{
        font-size: 3.5rem;
    }
    .feature__text{
        font-size: 1.6rem;
    }
    .feature {
        grid-template-columns: repeat(2, 1fr)
        
      }
      .charge .feature__image {
        order: 1;
      }
      .feature__image {
        width: 100%;
        order: 2;
        margin-bottom: 0;
      }
      .feature__detail {
        order: 1;
      }
      .feature__image > img {
        width: 100%;
      }
}

/* contact us */
.contact-us{
    display: grid;
}
.contact-us__map{
    display: none;
}
@media screen and (min-width:1024px) {
    .contact-us{
        grid-template-areas: 
        " address form"
        " map form"
        " icons form";
        grid-template-columns: 70fr 30fr;
    }
    .contact-us__form{
        grid-area: form;
    }
    .contact-us__map{
        grid-area: map;
        display: block;

    }
    .contact-us__icons{
        grid-area: address;
    }
    .contact-us__social{
        grid-area: icons;
    }
    
}
.contact-us__map img{
    width:100%;
    height: auto;
}

.icon {
    width: 24px;
    height: 24px;
  }
  
  .icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 100%;
    cursor: pointer;
  }

  .contact-us__icons{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  .contact-us .icon-holder{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
  }
  .icon-holder__label{
      margin-left: 1.5rem;
      display: block;
  }

  @media screen and (min-width:1024px){
    .contact-us__icons{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

    }
    .contact-us .icon-holder{
    flex-direction: column;
    }
    .icon-holder__label{
        order: 2;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
  }

  /* social icons */


.contact-us__social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}  

@media screen and (min-width:1024px) {
    .contact-us__social{
        justify-content: flex-end;

    }
    .contact-us__social .icon-container{
        margin-left: 2rem;

    }
}
.contact-us__form{
    margin-right: 0;
}

.form-wrapper{
    height: 100%;
    border: 1px solid #ccc;
    padding: 1rem 2rem ;
    border-radius: 5px;
    box-shadow: 0 10px 20px #c5c1c1;
}

.form-wrapper h3{
    margin-bottom: 5.2rem;
    text-align: center;
}

.form-wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

input,
textarea{
    display: block;
    outline: 0;
    border: 0;
}


::placeholder{
    font-size: 1.4rem;
    color: #444;
    font-family: "Vazir";

}
.form-wrapper input,
.form-wrapper textarea{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
    font-family: "Vazir";
}
.form-wrapper input:focus,
.form-wrapper textarea:focus{
    border: 1px solid var(--color-primary);
}

.form-wrapper input{
    border-radius: 39px;
}
textarea{
    resize: none;
    border-radius: 5px;
}

.form-wrapper .btn--primary{
    width: 40%;
    border-radius: 20px;
    
}

@media screen and (min-width:1024px){
    .contact-us__form{
        margin-right: 3rem;
    }
}

/* Footer */
.main-footer{
    background-color: #000;
    color: #fff;
    min-height: 200px;
    display: flex;
    align-items: center;
   
}

.main-footer .footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.footer__item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0.5rem;
    display: block;

}

.footer__item{
    margin-bottom: 2.5rem;
}
.footer__item h6 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.footer__item.enemad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 01.5rem;
}

.footer__enemad{
    background-color: #fff;
    border-radius: 10px; 
    padding: 1rem 0.5rem;
    max-width: 86px;
    max-height: 120px;
}

.footer__enemad img{
    width: 100%;
    height: auto;
}
@media screen and (min-width:868px){
    .main-footer .footer{
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .footer__item{
        margin-left: 1.5rem;
        margin-bottom: 0;
    }
}

.footer__item .app-detail{
    font-size: 1.2rem;

}
.footer__item .copy-right-mobile{
    font-size: 1.2rem;
    color: rgb(174, 168, 168);
}
.footer__item .brand{
    display: flex;
    flex-direction: row;
}


/* navbar */
.main-header{
    background-color: var(--color-navbar);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list{
    max-height: 100vh;
    opacity: 1;

}
.nav__item{
    margin-bottom: 1rem ; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;

}
.nav__item > a{
    text-decoration: none;
    color: #444;
    display: block;
    padding: 0.5rem 0;
}
.nav__item > a:hover{
    color: var(--color-primary);
    background-color: blue;
}
.banner-phone{
    display: none;
    position: absolute;

  }

@media screen and (min-width:868px){
    .nav{
        padding: 0 2rem;
    }
    .nav__toggler{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        align-items: center;
        width: auto;
        opacity: 1;
        max-height: 100%;
    }
    .nav__item{
        margin-left: 2rem;
        font-size: 1.6rem;
        border: 0;
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .banner-phone {
        display: block;
        left: 10%;
        bottom: -80%;
        height: auto;
        width: 420px;
      }
}

.nav__item.cta{
    font-size: 1.4rem;
    border: 0;

}

.nav__item.cta a{
    color: #fff;
    font-size: 1.4rem;

}
.nav__item .btn{
    padding: 1rem 3rem;
}

/* Toggler */

.nav__toggler{
    cursor: pointer;
}

.bar{
    width: 28px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one{
    transform: rotate(-45deg) translate(-13px, 5px); 
}
.nav.nav__expanded .bar-two{
    opacity: 0;
}
.nav.nav__expanded .bar-three{
    transform: rotate(45deg) translate(-5px,1px);;
}

/* Header Hero*/

.hero-section{
    position: relative;
    width: 100%;
    height: 478px;

}
.hero-section .banner-img{
    width: 100%;
    height: auto;
}
.hero-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 478px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
.intro-btn{
    position: absolute;
    top: 0;
    border-radius: 20px;
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.intro-btn h1{
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
}
.intro-btn h2{
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 3rem;
}
.intro-btn__passenger{
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2rem;
    padding: 14px;
    width: 220px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.intro-btn__passenger p{
    font-size: 1.4rem;
    display: block;
}



  .intro-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

@media screen and (min-width:868px){
    .intro-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .intro-btn{
          width: 500px;
          padding: 25px;
          border-radius: 20px;
      }
      .hero-wrapper{
          justify-content: flex-start;
          right: 0;

      }
      .intro-btn h1{
        font-size: 5rem;
      }
      .intro-btn h2{
          font-size: 2.5rem;
      }
      .intro-btn__passenger p{
        font-size: 1.6rem;
        padding: 0;
    }
}

.intro-btn__passenger.driver-intro{
    background-color: rgb(0,0,0,0);
    color: #fff;
    border: 2px solid #fff;

}

.services__tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    padding: 5px 0 15px;
}
.services__tabs img{
    max-width: 85px;
 
}
.services__tabs a{
    display: block;
    text-decoration: none;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__tabs .tab > p{
    margin-top: 1.5rem;
    font-size: 1.2rem;

}
.services__tabs .tab{
    opacity: 0.5;
    transition: all 0.3s ease-out;
}
.services__tabs .tab:hover{
    opacity: 1;
}
.services__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.services .feature__title{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.services .feature__image{
    display: none;
}

.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-content {
    display: none;
  }
.tab-content.active {
    display: flex;
  }
.tab .active {
    opacity: 1;
  }


@media screen and (min-width:1024px) {
    .services{
        margin-top: 20rem;
    }
    .services__tabs .tab >p {
        margin-top: 1.1rem;
        font-size: 1.4rem;
    }
    .services .feature__image {
        width: 45%;
      }
    .services .feature__image img{
        width: 100%;
     
    }
    .services__title{
        font-size: 3.5rem;
        margin-bottom: 30px;
    
    }
    .services .feature__image{
        display: block;
    }
    .feature__detail{
        width: 100%;
    }
    .services__tabs .tab img{
        block-size: 5;
    }
}

.block{
    padding: 6rem 2rem;
}


